@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.contact-area-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-area-list li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  /* identical to box height */
  list-style: none;
  padding-bottom: 15px;

  color: #ffffff;
}

/* FORM */
.form input {
  /* margin-bottom: 25px; */
  border: none;
  border-bottom: 1px solid rgb(173, 168, 168);
  padding-left: 55px;
  padding-bottom: 20px;
  outline: none;
  width: 100% !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2614px;
  /* line-height: 29px; */
  display: flex;
  align-items: center;

  color: #adadad;
}

.form img {
  position: absolute;
}

.remember-me img {
  position: absolute;
  width: 19.26px;
  height: 19.26px;
  left: 1388.57px;
  top: 591.78px;
}
.remember-text {
  position: absolute;
  width: 95.02px;
  height: 25.68px;
  left: 1415.53px;
  top: 572px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16.6932px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #6d6d6d;
}
.remember-me .right {
  position: absolute;
  width: 143.82px;
  height: 25.68px;
  left: 1694.18px;
  top: 587.93px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16.6932px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #6d6d6d;
}

.apply-icon {
  position: absolute;
  left: 69.58%;
  right: 28.91%;
  top: 93.8%;
  bottom: 3.12%;
}

.apply-form-text {
  position: absolute;
  width: 189px;
  height: 26px;
  left: 1374px;
  top: 997px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;

  display: flex;
  align-items: center;

  color: #808080;
}

.apply-trace {
  position: absolute;
  width: 185px;
  height: 26px;
  left: 1701px;
  top: 1017px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #808080;
}
